@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

#container{
  width: 100%;
  height: 100%;
}

#left{
  background: #E9F1F8;
  padding-bottom: 150px;
  padding-top: 70px;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#tools{
  padding-top: 100px;
  font-size: 24px;
  h2{
    font-size: 35px;
    font-family: 'Megrim';
    text-align: center; 
  } 
}

#right{
  background: #E9F1F8;
  margin: 0;
  height: 100%;
  color: #383232;
  padding-bottom: 160px;
}

#headline{
  font-size:40px;
  font-family: 'Megrim', cursive;
  margin: 40px;
  text-align: center;

}

#profile{
  display: flex;
  align-content: center;
  // justify-content: center;
  align-items: center;

}
