

html, body{
  
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 1px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #1d2731;
  border: 2px solid #984B43;
}

.MainContainer{
  position: absolute; 
  display: flex;
  background: #f4f4f4; 
  height: 100%; 
  width: 100%;  
}

.right-container{
  width:100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  display: flex;
}