@import './vendor.scss';

html, body{
  
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 1px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgb(184, 131, 57);
}

::-webkit-scrollbar-thumb
{
  background: #132435;
  border: 2px solid #DD9C47;
  height: 10px;
}

.MainContainer{
  position: absolute; 
  display: flex;
  background: #BBB7B3;
  height: 100%; 
  width: 100%;  
}

.right-container{
  width:100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  display: flex;
}