@import url('https://fonts.googleapis.com/css?family=Megrim|Pacifico|Comfortaa:300|Bungee+Hairline|Bungee+Inline|Cabin+Sketch|Codystar|Comfortaa:300|Fascinate|Finger+Paint|Fredericka+the+Great|Frijole|Geostar+Fill|Kranky|Londrina+Sketch|Monoton|Nixie+One|Shrikhand');
@import url("http://fonts.googleapis.com/icon?family=Material+Icons");



#home{
  height: 100%;
   width:100%;
  background: #2A323F;
  outline: 1px solid grey;
  padding:12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

}

.home1{
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-family: 'Comfortaa',Arial, Helvetica, sans-serif;
  background: #1A2535;
  color: white;
  margin:0;
  padding:0;
  
  flex-direction: column;
  display: flex;
  border-top:1px solid grey;
  border-right:1px solid grey;

  right:10%;
}

#logo {
  font-family: 'Megrim', cursive;
  text-decoration: underline;
  display: flex;
  justify-content: left;
  text-align: left;
  color: white;
}

#border{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0px;
 
  border-left: 1px solid grey;
  bottom:-2%;
  border-bottom:1px solid grey;  
}

.content2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.photo{
  border-radius: 500px;
  height: 190px;
  border: #A3DCFA dashed 2px;
  margin-bottom: 30px;
}

#greeting{
  font-family: 'Monoton', cursive;
  color: #C99E4E;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-bottom: 45px;
}

#tagline{
 font-family: 'Pacifico', cursive;
 font-size: 15px;
 margin-top: -34px;
 color:#DA9054
}

#design{
  font-family: 'Codystar', cursive;
  font-size: 12px;
  color: cyan;
  margin-top: -40px;
}

#enter{
  font-family: 'Codystar', cursive;
  padding-top: 35px;
  font-size: 24px;
  color: #CAAA3F;
}

#enter:hover{
  font-family: 'Codystar', cursive;
  color: #9CE8FC;
  font-size: 20px;
}

// Megrim|Pacifico|Comfortaa:300|Bungee+Hairline|Bungee+Inline|
// Cabin+Sketch|Codystar|Comfortaa:300|Fascinate|Finger+Paint|
// Fredericka+the+Great|Frijole|Geostar+Fill|Kranky|Londrina+Sketch|
// Monoton|Nixie+One|Shrikhand');
