@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.home{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Shadows Into Light',Arial, Helvetica, sans-serif;
  background: #6eafe5 ;
  color: white;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
}