

.Navbar {
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  max-width: 150px;
  flex: 1;
  // color: white;
  background: #21262b;
  height: 100%;
  align-items: 'center';
  align-content: 'center';
  border-right: 2px solid #E6A940;
 
  .icon:hover{
    color: orange;
    
  }

  .link{
    color: beige;
    text-decoration:  none;
  }

  .link:hover{
   background: #21649B;
   color: #E3EBEE;
   .icon {
     color: #74F3FC;
   }
  
   i{
     font-size: 15px;
   }

   .icon {
     color: #ECB143;
     font-size: 25px;
   }
  }
}

.logo{
   font-family: 'Megrim', cursive;
   padding: 10px;
   font-size: 35px;
   background: grey;
}

.label{
  font-size: 11px;
   display:  none;
 
}

.Navbar:hover {
  background: #2780C9;
  .logo {
    color: white;
    background: #2C2B2B;
  }

  .label {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 10px;
  }

  .icon{
    padding-left: 7px;
    color: #F3A348;
  }
  .label:hover {
    padding-left: 7px;
    color: #F3A348;
  }

  .iconLink{
    padding-left: 35px;
  }
   
}

.link{
  display: flex;
  align-items: 'center';
  align-content: 'center';
  padding-left: 20px;
  padding-top: 20px;
  align-content: 'center';
  justify-content: 'center';
  align-items: 'center;'
}


.social {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  
  .divider{
    margin-bottom: -10px;
  }

  .iconLink{
    align-content: 'center';
    align-items: 'center';
    padding: 18px;
    color: cyan;
  }

  .tag {
    font-size: 14px;
    padding-left: 14px;
    padding-right: 20px;
    font-family: 'Pacifico';
    display: none;
  }

  .iconLink:hover{
    color: orange;
    padding-left: 20px;
    size: 'huge';
    .tag {
      display: inline;
    }
  }
  
}


