

.Navbar {
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  max-width: 150px;
  flex: 1;
  // color: white;
  background: #21262b;
  min-height: 500px;
  align-items: 'center';
  align-content: 'center';
  border-bottom-right-radius: 30px;
  border-right: 4px solid orange;
 
  .icon:hover{
    color: orange;
    padding-left: 10px;
  }

  .link{
    color: beige;
    text-decoration:  none;
  }

  .link:hover{
   background: beige;
   color: #191500;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   i{
     font-size: 15px;
   }
   .icon {
     color: orange;
     font-size: 25px;
   }
   
  }
}

.logo{
   font-family: 'Megrim', cursive;
   padding: 10px;
   font-size: 35px;
   background: grey;
}

.label{
  font-size: 11px;
   display:  none;
 
}

.Navbar:hover {
  color: beige;
  
  .label {
    display: inline;
    padding-left: 15px;
    padding-right: 10px;
  }

  .icon{
    padding-left: 7px;
  }

  .iconLink{
    padding-left: 35px;
  }
   
}

.link{
  display: flex;
  align-items: 'center';
  align-content: 'center';
  padding-left: 20px;
  padding-top: 20px;
  align-content: 'center';
  justify-content: 'center';
  align-items: 'center;'
}


.social {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  
  .divider{
    margin-bottom: -10px;
  }

  .iconLink{
    align-content: 'center';
    align-items: 'center';
    padding: 18px;
    color: cyan;
  }

  .tag {
    font-size: 14px;
    padding-left: 14px;
    padding-right: 20px;
    font-family: 'Pacifico';
    display: none;
  }

  .iconLink:hover{
    color: orange;
    padding-left: 20px;
    size: 'huge';
    .tag {
      display: inline;
    }
  }
  
}


