@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

h2{
 font-family: 'Shadows Into Light', cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  color:#21262b;
  background: #d0be95;
}