@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.header{
  padding-top: 60px;
  padding-bottom: 20px;
  background: #26344D;
  h1{
    font-size: 35px;
    font-family: 'Megrim', cursive;
    text-align: center; 
    color: #57DDF5;
  }
}

h2{
  font-family: 'Shadows Into Light', cursive, Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  color:#373737;
  
}

.tab{
  height: 20px;
}

.portfolio{
  width: 100%;
  background: #16263F;
  min-height: 100%;
  overflow-y: auto;
}

.container{
  padding-top: 24px;
  padding-bottom: 25px;
}

.box{
  position: relative;
  border-color: #5C89AD;
  border-style: solid;
  border-width: 4px;
}

.box:before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

.left{ 
  border: #CFDBEE solid 1px;
  background: white;
}

.right{
  display: flex;
  padding: 20px;
  padding-left: 20px;
  background: #a5a5af;
  color: #1d2731;
}

#title{
  padding:0;
  height:100%;
  width:100%;

 h1{
  text-align: center;
  font-family: 'Megrim';
  color: #1d2731;
 }
}

.content{
  padding: 20px;
}